<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StuClassMapper">
    
    <resultMap type="StuClass" id="StuClassResult">
        <result property="cid"    column="cid"    />
        <result property="className"    column="class_name"    />
        <result property="grade"    column="grade"    />
        <result property="classroom"    column="classroom"    />
        <result property="year"    column="year"    />
        <result property="speciality"    column="speciality"    />
        <result property="banjo"    column="banjo"    />
        <result property="number"    column="number"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectStuClassVo">
        select cid, class_name, grade, classroom, year, speciality, banjo, number, create_by, create_time, update_by, update_time, remark from stu_class
    </sql>

    <select id="selectStuClassList" parameterType="StuClass" resultMap="StuClassResult">
        <include refid="selectStuClassVo"/>
        <where>  
            <if test="className != null  and className != ''"> and class_name like concat('%', #{className}, '%')</if>
            <if test="grade != null  and grade != ''"> and grade = #{grade}</if>
            <if test="classroom != null "> and classroom = #{classroom}</if>
            <if test="year != null  and year != ''"> and year = #{year}</if>
            <if test="speciality != null  and speciality != ''"> and speciality = #{speciality}</if>
            <if test="banjo != null "> and banjo = #{banjo}</if>
            <if test="number != null "> and number = #{number}</if>
        </where>
    </select>
    
    <select id="selectStuClassByCid" parameterType="Long" resultMap="StuClassResult">
        <include refid="selectStuClassVo"/>
        where cid = #{cid}
    </select>
        
    <insert id="insertStuClass" parameterType="StuClass">
        insert into stu_class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cid != null">cid,</if>
            <if test="className != null and className != ''">class_name,</if>
            <if test="grade != null and grade != ''">grade,</if>
            <if test="classroom != null">classroom,</if>
            <if test="year != null">year,</if>
            <if test="speciality != null">speciality,</if>
            <if test="banjo != null">banjo,</if>
            <if test="number != null">number,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cid != null">#{cid},</if>
            <if test="className != null and className != ''">#{className},</if>
            <if test="grade != null and grade != ''">#{grade},</if>
            <if test="classroom != null">#{classroom},</if>
            <if test="year != null">#{year},</if>
            <if test="speciality != null">#{speciality},</if>
            <if test="banjo != null">#{banjo},</if>
            <if test="number != null">#{number},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateStuClass" parameterType="StuClass">
        update stu_class
        <trim prefix="SET" suffixOverrides=",">
            <if test="className != null and className != ''">class_name = #{className},</if>
            <if test="grade != null and grade != ''">grade = #{grade},</if>
            <if test="classroom != null">classroom = #{classroom},</if>
            <if test="year != null">year = #{year},</if>
            <if test="speciality != null">speciality = #{speciality},</if>
            <if test="banjo != null">banjo = #{banjo},</if>
            <if test="number != null">number = #{number},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where cid = #{cid}
    </update>

    <delete id="deleteStuClassByCid" parameterType="Long">
        delete from stu_class where cid = #{cid}
    </delete>

    <delete id="deleteStuClassByCids" parameterType="String">
        delete from stu_class where cid in 
        <foreach item="cid" collection="array" open="(" separator="," close=")">
            #{cid}
        </foreach>
    </delete>

</mapper>